{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-meta">Опубликовано {{ post.date.strftime('%d.%m.%Y') }}. Автор: {{ post.author }}</p>
                <img class="img-fluid" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Post image">
                <p class="post-text">{{ post.text }}</p>
                <hr>
                <div class="comments">
                    <h3>Комментарии</h3>
                    {% for comment in post.comments %}
                        <div class="comment">
                            <p class="comment-meta">{{ comment.author }} написал(а):</p>
                            <p class="comment-text">{{ comment.text }}</p>
                            <div class="replies">
                                {% for reply in comment.replies %}
                                    <div class="reply">
                                        <p class="reply-meta">{{ reply.author }} ответил(а):</p>
                                        <p class="reply-text">{{ reply.text }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="comment-form">
                    <h3>Оставьте комментарий</h3>
                    <form method="POST" action="{{ url_for('post', index=loop.index0) }}">
                        <div class="form-group">
                            <label for="comment-text">Текст комментария</label>
                            <textarea class="form-control" id="comment-text" name="comment-text" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
