{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-3 text-center text-uppercase font-weight-bold">Модерация рецензии</h2>
    <h4 class="my-3 text-center font-weight-bold">{{ user }}: Оценка {{ rating }}</h4>
    <h6 class="my-2 text-center">{{ text | safe }}</p>
</div>

<div class="text-center my-5">
    <a class="btn btn-primary mx-3" href="{{ url_for('aprove', review_id=review_id) }}">Одобрить</a>
    <a class="btn btn-danger mx-3" href="{{ url_for('reject', review_id=review_id) }}">Отклонить</a>
</div>
{% endblock %}